# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*~
*/*~
*/*/*~
notify/notify
receiver/receiver
ddns-cli/ddns-cli

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
